@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}

button,
.new-blog-button {
  transition: all 0.3s;
  background: #0c9a5a;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 15px;

  transition: all 0.3s;
}

button:hover,
.new-blog-button:hover {
  background: #fff;
  color: #0c9a5a;
  border: 1px solid #0c9a5a;
  transform: translateY(-5px);
}

/*navbar*/

.navbar img {
  height: 50px;
  margin-left: 10px;
}

@keyframes rotate {
  from {
    transform: rotate (0);
  }
  to {
    transform: rotate(360deg);
  }
}

.rotate {
  animation: rotate 5s infinite linear;
}

.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}

.navbar h1 {
  color: #0c9a5a;
}

.navbar .links {
  margin-left: auto;
}

.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}

.navbar a:hover {
  color: #0c9a5a;
}

.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

/* blog previews / list */
.blog-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
  transition: all 0.3s;
}

.blog-preview:hover {
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
  transform: translateY(-5px);
}

.blog-preview h2 {
  font-size: 20px;
  color: #0c9a5a;
  margin-bottom: 8px;
}

.blog-preview a {
  text-decoration: none;
}

/* blog details page*/
.blog-details h2 {
  font-size: 25px;
  color: #0c9a5a;
  margin-bottom: 10px;
}

.blog-details div {
  margin: 20px 0;
}

.erase-button-container {
  width: 100%;
  text-align: center;
}

.date {
  font-size: 13px;
  color: rgb(98, 97, 97);
  margin-top: 5px;
}

/* create new blog form */
.create {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}

.create.header {
  display: inline;
}

.create label {
  text-align: left;
  display: block;
}

.create h2 {
  font-size: 20px;
  color: #0c9a5a;
  margin-bottom: 10px;
}

.create input,
.create textarea,
.create select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}

/*error page*/
.error {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.error h1 {
  margin-top: 30px;
  color: #0c9a5a;
}

.error-link {
  background: #0c9a5a;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 30px;
  font-size: 20px;
  width: 200px;
  text-align: center;
  text-decoration: none;
}
/* footer */

.footer {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-top: 1px solid #f2f2f2;
}

.by-container {
  width: 100%;
  text-align: center;
  padding-bottom: 0;
}

.signature {
  color: #0c9a5a;
  text-decoration: none;
  font-weight: bold;
}
